body{
    background-image: url(C:\BootCamp\Week2\Project2Try\Images\Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#BGSection1D9CAB3{
    background-color: #D9CAB3;
}

#BGSection2CDC2AE{
    background-color: #FAF0D7;
}
#BG3{
    padding-top: 8rem;
    padding-bottom: 12rem;
    background-color: #D9CAC0;
}

#BG13{
    background-color: #D9CAC0;
}

#navBar{
    background-color: #F6F6F6;
}

#ContactFonts{
    font-family: "Brush Script MT", "cursive";
    font-size: 5.5em;
}


 